if [ ! -f .venv/bin/activate ]; then
  if has uv; then
    uv sync
  else
    echo "Error: uv is missing. Please install it from https://docs.astral.sh/uv/"
  fi
fi

if [ -f .venv/bin/activate ]; then
  source .venv/bin/activate
fi

# CAN-FD
#export UAVCAN__NODE__ID=72
#export UAVCAN__CAN__IFACE=socketcan:can1
#export UAVCAN__CAN__MTU=64

# CAN classic
#export UAVCAN__NODE__ID=72
#export UAVCAN__CAN__IFACE=socketcan:can0
#export UAVCAN__CAN__MTU=8

dotenv_if_exists
